
.cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 45px;
}

.card-item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px;
    width: 20%;
    height: 500px;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0 black;
    padding: 0 20px;
    background-color: #d3c9b9;
    opacity: 0.8;
}

.card-item:hover {
    transform: scale(1.01) translateY(-3px);
}

.card-item img {
    width: 381px;
    height: 250px;
    object-fit: contain;
    margin-top: 10px;
}

.card-info {
    height: 40%;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.card-title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode';
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-desc {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}

.card-cta {
    text-decoration: none;
    color: #202627bd;
    border: 1px solid black;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #b0e4c5;
}

.card-cta:hover {
    font-weight: bold;
    color: black;
    transform: scale(1.1) translateY(3px);
}

@media (max-width: 1850px) {
    .card-item img {
        width: 100%;
        height: 200px;
    }

}

@media (max-width: 1520px) {
    .card-item img {
        height: 150px;
    }

    .card-info{
        height: 60%;
    }

}

@media (max-width: 1200px) {
    .card-item img {
        height: 150px;
    }

    .card-item {
        height: 500px;
    }

    .card-info{
        height: 60%;
    }

}

@media (max-width: 1120px) {
    .card-item img {
        height: 150px;
    }

}

@media (max-width: 1000px) {

    .card-info{
        height: 90%;
    }
    
    .cards-list{
        flex-direction: column;
        align-items: center;
    }
    .card-item{
        width: 80%;
        height: 400px;
        display: flex;
        flex-direction: row;
    }
    .card-item img {
        height: auto;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-desc{
        font-size: 20px;
    }

}
